<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.1.3.css">
</head>

<body>
  <nav class="navbar navbar-dark bg-primary">
    <div class="container"> <a class="navbar-brand py-0 px-0 pr-0 pt-0 pb-0 mr-auto" href="#">
        <i class="fa d-inline fa-code-fork"></i>
        <b> STUDENTS FORUM</b>
      </a> </div>
    <div class="container">
    </div>
  </nav>
  <div class="pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center" style="">{{pertanyaan}}</h1>
          
           
			{% for item in data %}
			<div class="card">
				<div class="card-body">
					<h4>{{item[2]}}</h4>
					<a class="btn btn-primary mr-2" href="#"><i class="fa fa-thumbs-up"></i></a><a class="btn btn-primary mr-2" href="#"><i class="fa fa-thumbs-o-down"></i></a><a class="btn btn-primary" href="#"><i class="fa fa-check"></i></a>
				</div>
			</div>
            {% endfor %}
          

        </div>
      </div>
    </div>
  </div>
  <div class="pt-3 pb-5" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form id="c_form-h" action={{"/handleInputJawaban/"+ID_ThreadPertanyaan+"/"}} method="get">
            <div class="form-group row"> <label for="inputmailh" class="col-2 col-form-label">Jawaban</label>
              <div class="col-10">
                <input name="jawaban" type="text" class="form-control" id="input question" placeholder="Type your answer here"> </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
